
    {% extends "PAGINA_PRINCIPAL.HTML" %}
    {% block content %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


    <div class="container mt-5">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-12 d-flex justify-content-center ">
            {% if product.image %}
               <img src="{{ product.image.url }}" alt="Imagen Del Producto" width="200" height="200">
            {% endif %}
          </div>
          <div class="col-md-12 p-4">
            <div class="card-body">
                <div class="h3 font-weight-bold text-success">
                    Producto agregado al carrito de compras
                </div>
              <h3 class="card-title"> <strong>{{ product.name }}</strong></h3>
              <p class="card-text ">{{ product.description }}</p>
              <p class="card-text "><small class="text-muted">Precio: <span class="text-danger">$ {{ product.price }}</span></small></p>
              
              <div class="d-flex ">
                <div class="btn btn-dark ps-2 m-1" ><a class="nav-link" href="{% url 'carts:cart' %}"><i class="fa-solid fa-cart-shopping"></i> Ver Carrito</a></div>
                <div class="btn btn-dark ps-2 m-1"  ><a class="nav-link" href="{% url 'catpinturas' %}"><i class="fa-solid fa-cart-shopping"></i> Seguir Compra</a></div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    {% endblock %}

    
    
