{% extends "PAGINA_PRINCIPAL.HTML" %}


{% block content %}

<div class="col">
    <div class="h3">
        SELECCIONE UNA DIRECCION DE ENVIO
    </div>
    <div class="mt-2 ">
        {% for shipping_address in shipping_addresses %}
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-tittle text-dark">{{ shipping_address.address }}</h5>
                <p class="card-tittle">{{ shipping_address.codpost }}</p>
                <a href="{% url 'orders:check_address' shipping_address.pk %}" class="btn btn-dark">Seleccionar</a>

            </div>

        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}