{% extends "PAGINA_PRINCIPAL.HTML" %}

{% block title %} PINTURAS {% endblock %}

{% block content %}
<body style="background-color:#a8a8a8;">
    <div class="container-fluid col-sm-8 justify-contenct-between text-light mt-5">

        
         <H2 class="justify-contenct-between mb-5">
            NUESTRA EMPRESA📜</H2>
        
        

        <h1 class="justify-contenct-between">📍MISIÓN</h1>
           <p>Ser el taller de confianza de nuestros clientes, satisfacer sus necesidades con oportunidad y calidad, Demostrar a nuestro trabajadore el nivel de calidad de emprendedores que tenemos en nuestra empresa y el ambiente laboral que manejamos.
        </p>
        
        
        <h1 class="justify-contenct-between">📍VISION</h1>
           <p>Ser una empresa competitiva, reconocida por su dinamismo en la prestación de servicio y en la atención al cliente, incentivando el desarrollo humano y compromiso de sus colaboradores con la empresa. Buscando lograr un crecimiento sostenido y desarrollo constante de la organización y su entorno.</p>
           </p>
        
        
        <h1 class="justify-contenct-between">📍OBJETIVOS</h1>
           <p>El objetivo es ofrecer un programa de planificación de producción en la empresa COLOR-IN, Dar un buen servicio de ventas y aplicacion a los clientes, queremos un crecimiento y incremente en nuestras ventas mejorar como empresa dar seguridad al cliente para generar una buena dinamica de emprendimiento.</p>
    </div>




    <script src="../JS/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}