{% extends "PAGINA_PRINCIPAL.HTML" %}

{% block title %} PINTURAS {% endblock %}

{% block content %}

<body style="background-color: #ffffff(32, 31, 31);">
 

</header>


    </header>
    <Form>

        <div class="Pinturas">

            <article>
                <div class="card" style="width: 18rem;">
                    <img src="../static/IMG/rollofotico.jpg" class="" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-dark">Rollo</h5>
                      <p class="card-text">Tubo de rollo plastico, resistente para cualquier uso, color transparente perfecto para pintar autos</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Tipo: </li>
                      <li class="list-group-item">Cantidad:</li>
                      <li class="list-group-item">Tamaño: Grande</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Agregar</a>
                      <!-- <a href="#" class="card-link">Ver mas</a> -->
                    </div>
                  </div>
            </article>

            <article>
                <div class="card" style="width: 18rem;">
                    <img src="../static/IMG/rollofotico.jpg" class="" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-dark">Rollo</h5>
                      <p class="card-text">Tubo de rollo plastico, resistente para cualquier uso, color transparente perfecto para pintar autos </p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Tipo: </li>
                      <li class="list-group-item">Cantidad:</li>
                      <li class="list-group-item">Tamaño: Mediano</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Agregar</a>
                      <!-- <a href="#" class="card-link">Ver mas</a> -->
                    </div>
                  </div>
            </article>

            <article>
                <div class="card" style="width: 18rem;">
                    <img src="../static/IMG/rollofotico.jpg" class="" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-dark">Rollo</h5>
                      <p class="card-text">Tubo de rollo plastico, resistente para cualquier uso, color transparente perfecto para pintar autos</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Tipo: Mate</li>
                      <li class="list-group-item">Cantidad:</li>
                      <li class="list-group-item">Tamaño: Pequeño</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Agregar</a>
                      <!-- <a href="#" class="card-link">Ver mas</a> -->
                    </div>
                  </div>
            </article>


    </Form>




</body>

{% endblock %}